# Dependencies
node_modules/

# Production builds
dist/

# Flutter Package (managed in its own dedicated repository)
packages/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
